<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meetingspringboot.dao.AppointmentDetailTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.meetingspringboot.po.AppointmentDetailTimeEntity">
        <id column="appoinment_datail_time_id" property="appoinmentDatailTimeId" />
        <result column="datail_appointment_id" property="datailAppointmentId" />
        <result column="datail_appointment_date" property="datailAppointmentDate" />
        <result column="appointment_time_period_id" property="appointmentTimePeriodId" />
        <result column="appointment_state" property="appointmentState" />
        <result column="expiration_time" property="expirationTime" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        appoinment_datail_time_id, datail_appointment_id, datail_appointment_date, appointment_time_period_id, appointment_state,expiration_time
    </sql>
    <select id="selectAppointmentDetail" resultType="com.example.meetingspringboot.po.vo.AppointmentDetailVo">
        SELECT * from appointment_detail_time JOIN time_period on appointment_detail_time.appointment_time_period_id=time_period.period_id
                                              join appointment on appointment_detail_time.datail_appointment_id=appointment.appointment_id

            ${ew.customSqlSegment}
    </select>
</mapper>
