<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meetingspringboot.dao.TimePeriodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.meetingspringboot.po.TimePeriodEntity">
        <id column="period_id" property="periodId" />
        <result column="period" property="period" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        period_id, period
    </sql>

</mapper>
